* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    overflow-y: visible;
}

/* typographic scheme */

h1,h2,h3,h4,h5,h6 {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

a, p, button{
    font-family: 'Josefin Slab', serif;
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    transform-style: preserve-3d;
}

/* Define background block */

.background_block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 500vh;
    z-index: -1;
    background-image: url("../image/Symmetry_background.jpg");
    background-position: center -0px;
}


/* Define global visiblity class */

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

/*define language selection */

@media only screen and (min-width: 768px) {
    .language_selection {
        width: 200px;
        height: 40px;
    }
}

@media only screen and (max-width: 768px) {
    .language_selection {
        width: 150px;
        height: 30px;
    }
}

.language_selection {
    display: flex;
    position: absolute;
    right: 25px;
    top:25px;
}

.language_selection button {
    background: white;
    color: black;
    border: none;
    padding: 1vh 1vw;
    font-family: 'Josefin Sans', sans-serif;
    width: 50%;
    transition: 0.5s;
}

.language_selection button.selected {
    color: white;
    background-color: rgb(230, 100, 100);
}

.layer_container {
    perspective: 400px;
}

.front_layer {
    transform: scale(1.3);
    z-index: 1;
}

.base_layer {
    z-index: -1;
}

.base_layer.after_front {
    transform: translateZ(-100px) rotateY(-30deg);
}

.base_layer.before_front {
    transform: translateZ(-100px) rotateY(30deg);
}