* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    overflow-y: visible;
}

/* typographic scheme */

h1,h2,h3,h4,h5,h6 {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

a, p, button{
    font-family: 'Josefin Slab', serif;
    color: white;
    font-size: 1.2vw;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    transform-style: preserve-3d;
}

/* Define background block */

.background_block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 540vh;
    z-index: -1;
    background-image: url("../images/PIA23405_Fotor.jpg");
    background-position: center -0px;
}


/* Define global visiblity class */

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

/* Define scroll class effect*/
@keyframes fadeIn {
0% {
    opacity: 0;
}

100% {
    opacity: 1;
}
}

.fadeIn {
animation-name: fadeIn;
}

@keyframes fadeInLeft {
0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}

100% {
    opacity: 1;
    transform: none;
}
}

.fadeInLeft {
animation-name: fadeInLeft;
}

.animated {
animation-duration: 1s;
animation-fill-mode: both;
}


.expand:hover {
    cursor: pointer;
    text-decoration: underline;
}

.side_navigation {
    width: 100px;
    display: flex;
    position: fixed;
    right: 0;
    bottom: 5vh;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: row;
    align-items: center;
    transition: 0.5s;
}

.side_navigation.expanded {
    width: 500px;
}

.side_navigation button {
    border: none;
    background: none;
}

.side_navigation button:hover {
    cursor: pointer;
}

.side_navigation button img {
    width: 40px;
    height: 40px;
    padding: 5px;
    transition: 0.5s;
    transform-style: preserve-3d;
}

.side_navigation:hover img {
    transform: rotateY(360deg);
}

.side_navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    font-size: 20px;
    list-style: none;
}

.side_navigation ul a{
    text-decoration: none;
}

.side_navigation ul a:hover {
    text-decoration: underline;
}


header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.logo {
    width: 10vw;
    height: 15vh;
    padding: 3vh 2vw 3vh 5vw;
}

.logo img {
     width: 100%;
     height: 100%;
     object-fit: contain;
}

.top_navigation {
    width: 70vw;
    padding: 3vh 5vw 3vh 2vw;
}

.top_navigation ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.top_navigation ul a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2vw;
}

.heading_title {
    position: absolute;
    top:50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.heading_title h1 {
    font-size: 4vw;
}

.heading_title p {
    font-size: 1.5vw;
    padding-top: 2vh;
}

.arrow_down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.heading_page .arrow_down {
    top: 75vh;
}

#profile .arrow_down {
    top:25vh;
}

#reference {
    display: none;
}

main>section {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.section_header{
    margin: 2vh;
    height: 5vh;
    position: relative;
    overflow: hidden;
    border-bottom: solid white;
    width: 33%;
}


.section_header h1{
    position: absolute;
    top:0;
    left: 0;
    padding: 0 1vw;
    font-size: 3vw;
}


.sub_section {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 10vh;
    height: 80vh;
    width: 80vw;
    left: 0;
    padding: 0 5vw;
    animation-duration: 1s;
    z-index: 9;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sub_section.visible {
    visibility: visible;
}

.sub_section .collapse {
    position: absolute;
    right: 2vw;
    top: 2vh;
    background: none;
    border: none;
}

.sub_section .collapse:hover {
    cursor: pointer;
}

.sub_section .collapse p {
    font-size: 3vw;
    opacity: 0.6;
}

.sub_section .collapse:hover p {
    opacity: 1;
}

.sub_section>h2 {
    width: 100%;
    padding: 1vh 0;
    font-size: 3vw;
}

.slide_box {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

.slide_box>ul {
    list-style: none;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.slide_box>ul.extended {
    width: 25%;
    flex-wrap: wrap;
}

.slide_box>ul>li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1vh 1vw;
    text-align: center;
}

.slide_box>ul>li>img {
    display: none;
}

.slide_box>ul>li.active {
    background-image: linear-gradient(to right,  rgba(0,0,0,0), white,white,white, rgba(0,0,0,0));
}

.slide_box>ul>li.active>a {
    color: black;
    text-align: center;
}

.slide_box>.slide {
    width: 80%;
    height: 70vh;
    max-width: 80%;
    max-height: 100%;
    display: none;
}

.slide p {
    line-height: 1.6;
    padding: 0.5vh 0;
    
}

.slide.active {
    display: flex;
}

.slide_box button {
    font-size: 2vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    border: none;
    background: none;
    padding: 1vh 0.5vw;
    opacity: 0.6;
}

.slide_box button:hover {
    opacity: 1;
    background-color: rgba(88,88,88,0.6);
}

button.next_slide {
    right: 0;
}

button.prev_slide {
    left: 10%;
}

button.prev_slide.extended {
    left: 25%;
}

.pic_left,
.pic_link_left  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.slide.pic_left img {
    width: 35%;
    height: 100%;
    max-width: 30%;
    max-height: 100%;
    object-fit: contain;
}

.slide.pic_left p {
    width: 60%;
}

.pic_top,
.link_top,
.inpiration,
.reference_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pic_top img {
    width: 100%;
    height: 60%;
    max-width: 100%;
    max-height: 60%;
    object-fit: contain;
}

.pic_top p {
    width: 80%;
}

.link_top .external_link {
    width: 100%;
    height: 30%;
}

.pic_link_left .external_link {
    width: 60%;
    height: 30%;
}

.pic_link_left>img {
    width: 60%;
    height: 65%;
    max-width: 60%;
    max-height: 65%;
    object-fit: contain;
}

.pic_link_left>p{
    width: 36%;
    padding: 0 2%;
}

.external_link>a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    border: white solid 1px;
    background: #333333;
}

.external_link>a>img {
    height: 100%;
    max-width: 100%;
    width: 30%;
    max-width: 30%;
    object-fit: cover;
}

.external_link>a>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 65%;
    align-items: baseline;
    padding: 0.5vh 0.5vw;
}

.external_link>a>div>img {
    width: 20px;
    height: 20px;
}

.external_link>a>div>h3 {
    font-family: sans-serif;
    font-size: medium;
    text-decoration: none;
    padding: 0.5vh 0.5vw;
    width: 100%;
}

.external_link>a>div>p {
    font-family: sans-serif;
    font-size: small;
    text-decoration: none;
    padding: 0.5vh 0.5vw;
}
.reflection {
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

.reflection_index {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 10vw;
}

.reflection_index li {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 10vw;
    height: 6vh;
    opacity: 0.7;
}

.reflection_index li img {
    width: 40%;
    max-width: 40%;
    height: 100%;
    max-height: 100%;
    object-fit: contain;
}

.reflection_index li.active {
    transform: scale(1.2);
    opacity: 1;
}

.reflection_content {
    width: 60vw;
    overflow-y: scroll;
}

.reflection_content li {
    padding: 0 1vw;
}

.reflection_content li.active {
   border-left: solid white 2px;
}

#about_me {
    top: 100vh;
    height: 40vh;
    padding-top: 10vh;
    flex-wrap: wrap;
    justify-content: center;
}

#about_me .section_header{
    width: 40%;
    margin-left: 20%;
}

#about_me .section_content {
    width: 40%;
    margin-left: 20%;
    
}

#about_me .section_content p {
    padding:  1vh;
    font-size: 3vh;
}

#about_me .portrait {
    width: 20%;
    height: 100%;
    padding-right: 20%;
}

.portrait img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

#profile {
    top: 150vh;
    height: 25vh;
}

#profile>ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
    width: 100%;
}

#profile>ul li {
    display: flex;
    flex-direction: column;
    margin: 0 3vw;
    align-items: center;
    font-size: 1.2vw;
}

#profile>ul li img {
    width: 10vh;
    height: 10vh;
    transform-style: preserve-3d;
    transition: 0.5s;
}

#profile>ul li img:hover {
    cursor: pointer;
}

#profile>ul li:hover img {
    transform: rotateY(360deg);
}

#profile>ul li p {
    padding: 1vh 0;
}

#profile>ul li button {
    background: none;
    border: none;
    font-size: inherit;
}

#profile>ul li button:hover{
    text-decoration: underline;
    cursor: pointer;
}

#my_skills {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#my_skills h1 {
    padding: 1vh 2vw;
    font-size: 3vw;
}

#my_skills>ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2vw;
}

#my_skills>ul>li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 15vh;
    border-bottom: solid white 1px;
    border-top: solid white 1px;
    justify-content: space-between;
    align-items: center;
}

#my_skills>ul>li>h2 {
    width: 30%;
}

#my_skills>ul>li>div {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

#my_skills>ul>li>div>img {
    width: 10vw;
    height: 10vh;
    max-width: 10vw;
    max-height: 10vh;
    object-fit: contain;
    background-color: white;
}

#my_skills>ul>li:last-of-type div ul {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    width: 100%;
}

#my_skills>ul>li:last-of-type div ul>li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#my_skills>ul>li:last-of-type div ul>li>img {
    width: 5vw;
    height: 10vh;
    object-fit: contain;
}

#my_experience>ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    color: white;
    width: 100%;
    height: 70vh;
}

#my_experience>ul>li {
    width: 40%;
    padding: 2vh 2vw;
    font-family: sans-serif;
}

#my_experience>ul>li>img {
    width: 20vw;
    height: 10vh;
    object-fit: contain;
}

#my_experience>ul>li li {
    padding: 0.5vh 0;
}

#assessments {
    top: 200vh;
    height: 20vh;
}

#assessments .section_content {
    width: 80%;
}

#assessments .section_content>ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 1vw;
}

#assessments .section_content>ul>li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#assessments .section_content>ul>li>img {
    visibility: hidden;
    transition:0.5s;
}

#assessments .section_content>ul>li:hover>img {
    transform:rotateY(360deg);
    visibility: visible;
}

#assessments .section_content>ul a{
    text-decoration: none;
    font-size: 1.2vw;
}

#assessments .section_content>ul a:hover {
    text-decoration: underline;
}

#axis {
    position: absolute;
    top:220vh;
    width: 5px;
    height: 125vh;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
}

section.assessment_item {
    width: 60vw;
    height: 25vh;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.assessment_item.odd_num {
    left: 30vw;
}

.assessment_item.even_num {
    right: 30vw;
}

.assessment_item.even_num .assessment_notes {
    text-align: right;
}

.assessment_item .thumbnail {
    width: 16vw;
    padding: 2vh 2vw;
    height: 100%;
}

.assessment_item .thumbnail img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: 0.5s;
}

.assessment_item .thumbnail:hover img {
    box-shadow: 0 0 15px 15px white;
}

.assessment_item .assessment_notes {
    width: 40vw;
    height: 15vh;
}

.assessment_item .breakdown {
    width: 40vw;
    height: 10vh;
}

.assessment_item .assessment_notes h2 {
    padding: 1vh 1vw;
    font-size: 2vw;
}

.assessment_item .assessment_notes p {
    padding: 0 1vw;
}

.assessment_item .assessment_notes p span {
    text-decoration: underline;
}

.assessment_item .assessment_notes p span:hover {
    font-style: italic;
}

.assessment_item .breakdown ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    height: 100%;
}

.assessment_item .breakdown ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
    margin:  0 5%;
}
.assessment_item .breakdown ul li a {
    text-decoration: none;
}

.assessment_item .breakdown ul li:hover a {
    text-decoration: underline;
}

.assessment_item .breakdown ul li img {
    visibility: hidden;
    transition:0.5s;
}

.assessment_item .breakdown ul li:hover img {
    visibility: visible;
    transform:rotateY(360deg) ;
}

#exploration_tile {
    top: 220vh;
}

#part_a_tile {
    top: 245vh;
}

#part_b_tile {
    top: 270vh;
}

#part_c_tile {
    top: 295vh;
}

#journal_tile {
    top: 320vh;
}

#course_reflection {
    top: 350vh;
}

#my_work {
    top: 450vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#my_work>p {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.other_works {
    width: 30vw;
}

.work_content {
    margin-top: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.other_works {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other_works:hover h2 {
    text-decoration: underline;
    color: white;
}

.other_works img {
    width: 20vw;
    height: 30vh;
    object-fit: contain;
    transition: 0.5s;
    transform-style: preserve-3d;
}

.other_works:hover img {
    transform: rotateY(360deg);
}

.inspiration {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.inpiration>img {
    width: 60%;
    height: 40%;
    max-width: 60%;
    max-height: 40%;
    object-fit: cover;
}

.inpiration p {
    width: 30%;
    padding:0  5% ;
}

.inspiration p a {
    text-decoration: underline;
}

.inspiration p a:hover {
    font-style: italic;
}

.reference_list>div {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.reference_list>div>img {
    width: 60%;
    height: 50%;
    max-width: 30%;
    max-width: 100%;
    object-fit: cover;
}

.reference_list>div:first-of-type>p {
    width: 30%;
    padding: 0 5%;
}

.icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.icons>li>img {
    width: 5vw;
    height: 10vh;
    object-fit: contain;
}

.pic_only>img {
    width: 90%;
    height: 90%;
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

.pic_only {
    justify-content: center;
    align-items: center;
}

.gear {
    position: absolute;
    top: 300vh;
    left: -450px;
    filter: invert();
    z-index: -1;
    width: 600px;
    height: 600px;
}

.gear img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}