.background_block {
    background-image: url("../image/film_background.jpg");
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-position: center -0px;
    background-size: cover;
    background-repeat: repeat-y;
}

h1, h2 {
    font-family: 'Satisfy', cursive;
}

h3 {
    font-family: 'Satisfy','Yuji Syuku', serif;
}

li {
    font-family: 'Satisfy', cursive;
    font-size: large;
}

p {
    font-family: 'Oooh Baby', 'Yuji Syuku', cursive;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.content_block {
    max-height: 30vh;
}

.fig_block {
    max-height: 30vh;
}